<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coach Details</title>
    <link rel="stylesheet" type="text/css" href="../css/styles.css">
</head>

<body>
    <header>
        <nav>
            <div class="nav-bar">
                <a href="index.html">Home</a>
                <a href="schedule.html">Schedule</a>
                <a href="standings.html">Standings</a>
                <a href="stats.html">Stats</a>
                <a href="rules.html">Rules</a>
            </div>
        </nav>
    </header>
    <main class="coach-details">
        <section class="background-image" id="backgroundImage">
            <img id="backgroundImg" src="" alt="Background" class="background-pic">
        </section>
        <section class="profile-section">
            <img id="profilePic" alt="Coach Profile Picture" class="profile-pic">
        </section>
        <section class="coach-info">
            <h1 id="coachName"></h1>
            <div class="achievement">
                <img src="../img/winloss_icon.png" alt="Win-Loss Record" class="achievement-icon">
                <div class="achievement-info">
                    <span id="winLossRecord" class="achievement-text"></span>
                </div>
            </div>
            <div class="achievement">
                <img src="../img/natty_icon.png" alt="National Championships" class="achievement-icon">
                <div class="achievement-info">
                    <span id="nationalChampionships" class="achievement-text"></span>
                </div>
            </div>
            <div class="achievement">
                <img src="../img/coty_icon.png" alt="Coach of the Year" class="achievement-icon">
                <div class="achievement-info">
                    <span id="coachOfTheYearAwards" class="achievement-text"></span>
                </div>
            </div>
            <div class="achievement">
                <img src="../img/heisman_icon.png" alt="Heisman Winners" class="achievement-icon">
                <div class="achievement-info">
                    <span id="heismanWinnersCoached" class="achievement-text"></span>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 NCAA 14 League</p>
    </footer>
    <script src="../js/coachDetails.js"></script>
</body>

</html>
