<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The League 2024</title>
    <link rel="stylesheet" type="text/css" href="../css/styles.css">
</head>

<body>
    <header>
        <nav>
            <div class="nav-bar">
                <a href="index.html">Home</a>
                <a href="schedule.html">Schedule</a>
                <a href="standings.html">Standings</a>
                <a href="stats.html">Stats</a>
                <a href="rules.html">Rules</a>
            </div>
        </nav>
    </header>
    <main>
        <section class="intro">
            <h1>2024 College Football League</h1>
        </section>
        <section class="news">
            <div class="news-grid">
                <!-- Quadrant 1 -->
                <div class="news-item">
                    <a href="gameDetails.html?game=2024_w1_USCvsLSU" class="news-link">
                        <h3>Trojan Circus: USC's Shocking Win Leaves LSU in Hysterics</h3>
                        <img src="../img/w1_usc.jpg" alt="USC vs LSU">
                        <p>True Freshman USC QB Malachi Nelson Shines as Trojans Overcome Halftime Deficit to Halt LSU
                        </p>
                    </a>
                </div>
                <div class="news-item">
                    <a href="gameDetails.html?game=2024_w1_TexasvsUW" class="news-link">
                        <h3>UW Steals the Show in Primetime Thriller, Edging Texas 58-52 with Dramatic Pick-6 Victory
                        </h3>
                        <img src="../img/w1_uw.jpg" alt="USC vs LSU">
                        <p>UW's Unbelievable Victory Over Texas Comes Down to a Costly Coaching Blunder
                        </p>
                    </a>
                </div>
                <div class="news-item">
                    <a href="gameDetails.html?game=2024_w1_ColoradovsGeorgia" class="news-link">
                        <h3>Georgia's False Starts on Defense Somehow Lead to a Win in Colorado</h3>
                        <img src="../img/w1_georgia.jpg" alt="USC vs LSU">
                        <p>Carson Beck Throws Hilarious Touchdown Party, Georgia's -6.5 Favorites Prove Right
                        </p>
                    </a>
                </div>
                <div class="news-item">
                    <a href="gameDetails.html?game=2024_w1_ToledovsOleMiss" class="news-link">
                        <h3>Toledo Cruises to Victory over Ole Miss 48-16 Despite Modest Favorites Status</h3>
                        <img src="../img/w1_toledo.jpg" alt="USC vs LSU">
                        <p>Dequan Finn's Dominance Propels Toledo to Victory as Heisman Hopes Skyrocket
                        </p>
                    </a>
                </div>

            </div>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 NCAA 14 League</p>
    </footer>
</body>

</html>
