<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The League 2024</title>
    <link rel="stylesheet" type="text/css" href="../css/styles.css">
</head>

<body>
    <header>
        <nav>
            <div class="nav-bar">
                <a href="index.html">Home</a>
                <a href="schedule.html">Schedule</a>
                <a href="standings.html">Standings</a>
                <a href="stats.html">Stats</a>
                <a href="rules.html">Rules</a>
            </div>
        </nav>
    </header>
    <main>
        <section class="intro">
            <h1>2024 College Football League</h1>
        </section>
        <section class="news">
            <div class="news-grid">
                <!-- Quadrant 1 -->
                <div class="news-item">
                    <a href="gameDetails.html?game=2024_w2" class="news-link">
                        <h3>Week 2 Wrap-Up: Underdogs Top Dogs and Quarterbacks Light It Up</h3>
                        <img src="../img/2024_w2_newsimg.jpg" alt="week2 wrap up">
                        <p>From Last to Blast: Tom's LSU Shocks the Gridiron World
                        </p>
                    </a>
                </div>
                

            </div>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 NCAA 14 League</p>
    </footer>
</body>

</html>
