<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The League 2024</title>
    <link rel="stylesheet" type="text/css" href="../css/styles.css">
</head>

<body>
    <header>
        <nav>
            <div class="nav-bar">
                <a href="index.html">Home</a>
                <a href="schedule.html">Schedule</a>
                <a href="standings.html">Standings</a>
                <a href="stats.html">Stats</a>
                <a href="rules.html">Rules</a>
            </div>
        </nav>
    </header>
    <main>
        <section class="intro">
            <h1>2024 College Football League</h1>
        </section>
        <section class="news">
            <div class="news-grid">
                <!-- Quadrant 1 -->
                <div class="news-item">
                    <a href="news.html?news=2024_daniels_walkoff" class="news-link">
                        <h3>Gridiron Gags Gone Wrong: A Rollercoaster Interview with Daniels and Beck</h3>
                        <img src="../img/daniels_walkoff.jpeg" alt="week2 wrap up">
                        <p>Exclusive interview with Jayden Daniels and Carson Beck
                        </p>
                    </a>
                </div>
                <div class="news-item">
                    <a href="news.html?news=2024_nelson_mcdonalds" class="news-link">
                        <h3>Quarterback Quarter Pounders: Malachi Nelson's Fast-Food Foray</h3>
                        <img src="../img/nelson_mcdonalds.jpeg" alt="week2 wrap up">
                        <p>Former 5 star looking for a different profession??
                        </p>
                    </a>
                </div>
                <div class="news-item">
                    <a href="news.html?news=2024_sanders_log" class="news-link">
                        <h3>EXCLUSIVE: Trouble in Colorado? Shedeur Sanders Opens Up on Team's Turmoil</h3>
                        <img src="../img/sanders_log.jpeg" alt="week2 wrap up">
                        <p>Shedeur Sanders opens up about his problem with his coach, Logan
                        </p>
                    </a>
                </div>
                <div class="news-item">
                    <a href="news.html?news=2024_heisman_fight" class="news-link">
                        <h3>Heisman Contenders Clash: Ewers vs. Finn</h3>
                        <img src="../img/heisman_fight.jpeg" alt="week2 wrap up">
                        <p>Amidst the intensifying Heisman race, shocking allegations emerge: Ewers throws a punch?
                        </p>
                    </a>
                </div>
                

            </div>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 NCAA 14 League</p>
    </footer>
</body>

</html>
