<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News - The League 2024</title>
    <link rel="stylesheet" type="text/css" href="../css/styles.css">
</head>

<body>
    <header>
        <nav>
            <div class="nav-bar">
                <a href="index.html">Home</a>
                <a href="schedule.html">Schedule</a>
                <a href="standings.html">Standings</a>
                <a href="stats.html">Stats</a>
                <a href="rules.html">Rules</a>
            </div>
        </nav>
    </header>
    <main class="news1">
        <h1 id="newsTitle"></h1>
        <img id="newsImg" src="" alt="News Image" class="news-image">
        <p id="newsCaption" class="news-caption"></p>
        <article id="articleText" class="news-article"></article>
    </main>
    <footer>
        <p>&copy; 2024 NCAA 14 League</p>
    </footer>
    <script src="../js/news.js"></script>
</body>

</html>
