<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The League 2024 - Rules</title>
    <link rel="stylesheet" type="text/css" href="../css/styles.css">
</head>

<body>
    <header>
        <nav>
            <div class="nav-bar">
                <a href="index.html">Home</a>
                <a href="schedule.html">Schedule</a>
                <a href="standings.html">Standings</a>
                <a href="stats.html">Stats</a>
                <a href="rules.html">Rules</a>
            </div>
        </nav>
    </header>
    <main>
        <section class="rules">
            <h1>League Rules</h1>
            <p>1. Home team chooses weather and time.</p>
            <p>2. Standings based on:</p>
            <ul>
                <li>Record</li>
                <li>Point differential</li>
                <li>SOS</li>
            </ul>
            <p>3. 4 team playoff. 4 (home) & 5 (away) have play-in game to determine 4th seed.</p>
            <p>4. Mercy rule ≥ 32 points. If mercied in:</p>
            <ul>
                <li>1Q, 2x point differential;</li>
                <li>2Q, 1.66x point differential;</li>
                <li>3Q, 1.33x point differential;</li>
                <li>4Q, 1x point differential.</li>
            </ul>
            <p>5. 4 minute quarters. Hesiman difficulty.</p>
            <p>6. 2 point conversions only (including OT).</p>
            <p>7. No field goals until 2 minutes in 4Q or 1 minute in 1st half.</p>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 NCAA 14 League</p>
    </footer>
</body>

</html>
