body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #2C3E50;
    color: white;
    padding: 10px 0;
}

a {
    color: inherit;
    /* This will make links use the text color of the parent element */
    text-decoration: none;
    /* Removes the underline */
    transition: color 0.3s;
    /* Smooth transition for color change */
}

/* Hover effect for links */
a:hover {
    color: #3498db;
    /* Change to a color of your choice for the hover state */
    text-decoration: none;
    /* Ensures underline doesn't reappear on hover */
}

.nav-bar {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-bar a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
}

.nav-bar a:hover {
    background-color: #34495E;
}

/* Media query for screens smaller than 768px (e.g., smartphones) */
@media screen and (max-width: 768px) {

    header {
        padding: 5px 0;
    }

    .nav-bar a {
        padding: 5px 10px;
        font-size: 14px;
        /* Adjust font size for smaller screens */
    }

    .news-item img {
        max-width: 100%;
        /* Set maximum width to ensure responsiveness */
        height: auto;
        margin: 10px 0;
        /* Adjust margins as needed */
    }

    footer {
        padding: 5px 0;
    }

    footer p {
        font-size: 14px;
        /* Adjust font size for smaller screens */
    }
}


/* Media query for screens between 768px and 1024px (e.g., tablets) */
@media screen and (min-width: 769px) and (max-width: 1024px) {

    /* Adjust your styles here for tablets */
    .nav-bar {
        font-size: 16px;
    }

    .news-item img {
        max-width: 100%;
        /* Set maximum width to ensure responsiveness */
        height: auto;
        margin: 10px 0;
        /* Adjust margins as needed */
    }
}

/* Media query for screens larger than 1024px (e.g., desktops) */
@media screen and (min-width: 1025px) {

    /* Adjust your styles here for desktops */
    header {
        padding: 15px 0;
    }

    .news-item img {
        max-width: 100%;
        /* Set maximum width to ensure responsiveness */
        height: auto;
        margin: 10px 0;
        /* Adjust margins as needed */
    }

    .nav-bar {
        font-size: 18px;
    }
}



main {
    margin: 20px;
    text-align: center;
}

.standings-container {
    display: flex;
    justify-content: center;
}

.standings {
    width: 100%;
    max-width: 800px;
    /* Adjust the max-width as needed */
    margin: 0 auto;
    /* Centers the table */
    border-collapse: collapse;
}

.standings th,
.standings td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.standings tr:hover {
    background-color: #ddd;
}

.green {
    background-color: #b6eab3;
}

.yellow {
    background-color: #fff3b0;
}

.red {
    background-color: #f4b2b2;
}

.intro {
    margin-bottom: 20px;
}

.news {
    text-align: center;
}

.news-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

@media screen and (max-width: 768px) {

    /* Adjust the max-width as needed */
    .news-grid {
        grid-template-columns: 1fr;
        /* One column for smaller screens */
    }
}

.news-item {
    margin: 20px;
    text-align: center;
}

.news-item h3 {
    font-size: 1.2em;
    color: #333;
}

.news-item img {
    width: 600px;
    height: 400px;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.news-item p {
    margin: 0 auto;
    width: 80%;
}

.rules {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
    color: #333;
    line-height: 1.6;
}

.rules h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #2C3E50;
}

.rules ul {
    text-align: left;
    list-style-type: disc;
    margin: 0 auto;

}

.rules li {
    text-align: left;
    margin-bottom: 5px;
}

.rules p {
    text-align: left;
    margin-bottom: 15px;
}

/* Style for Tabs */
.tabs {
    border: 1px solid #ddd;
    padding: 10px;
}

/* Ensure the tab headers wrap to the next line on smaller screens */
.tab-headers {
    display: flex;
    flex-wrap: wrap;
    /* Allow headers to wrap to the next line */
    justify-content: center;
    overflow: hidden;
    background-color: #2C3E50;
}

.tab-link {
    flex-grow: 1;
    text-align: center;
    background-color: inherit;
    float: none;
    /* Remove the float to prevent headers from overflowing */
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    color: white;
}

/* Adjust the width of the headers on smaller screens */
@media screen and (max-width: 768px) {
    .tab-link {
        flex-basis: 33.33%;
        /* Set the width to 33.33% to fit 3 headers per row */
        max-width: 33.33%;
        /* Ensure the headers don't exceed 33.33% width */
    }
}


.tab-link:hover {
    background-color: #ddd;
    color: black;
}

.tab-content {
    display: none;
    padding: 6px 12px;
    border-top: none;
}

/* Style when a tab content is active */
.active-tab {
    display: block;
}

.schedule-list {
    list-style-type: none;
    padding: 0;
}

.schedule-list li {
    padding: 10px;
    margin-bottom: 5px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.tab-link.active-tab {
    background-color: #4CAF50;
    color: white;
}

.winner {
    color: green;
}

.loser {
    color: red;
}

/* Style for Standings */
.standings table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.standings th,
.standings td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.standings th {
    background-color: #2C3E50;
    color: white;
}


.standings tr:hover {
    background-color: #ddd;
}

.coaches-poll {
    max-width: 800px;
    /* Adjust the max-width as needed */
    margin: 20px auto;
    /* Centers the section */
    padding: 20px;
    border-collapse: collapse;
}

.coaches-poll table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

.coaches-poll th,
.coaches-poll td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.coaches-poll th {
    background-color: #2C3E50;
    color: white;
}

.coaches-poll tr:hover {
    background-color: #ddd;
}

/* Style for stats */
.stats table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.stats th,
.stats td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.stats th {
    background-color: #2C3E50;
    color: white;
}

.stats tr:hover {
    background-color: #ddd;
}

.qb-image {
    width: 100px;
    /* Adjust as needed */
    height: 100px;
    /* Adjust as needed */
    border-radius: 50%;
    /* Makes the image circular */
    margin-right: 10px;
    vertical-align: middle;
    object-fit: cover;
}

@media screen and (max-width: 768px) {
    .stats table {
        font-size: 14px;
        /* Decrease font size for smaller screens */
    }

    .qb-image {
        width: 50px;
        /* Adjust as needed */
        height: 50px;
        /* Adjust as needed */
        border-radius: 50%;
        /* Makes the image circular */
        margin-right: 10px;
        vertical-align: middle;
        object-fit: cover;
    }
}

.game-details {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: white;
    /* Clean white background */
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    /* Lighter shadow for a more subtle effect */
    border-radius: 8px;
    /* Slightly larger radius for a softer look */
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    /* Modern font choice */
}

.game-details h1 {
    color: #333;
    /* Darker color for contrast */
    margin-bottom: 20px;
    font-weight: 600;
    /* Bolder font for the title */
    font-size: 1.5em;
    /* Larger font size */
}

.game-details .team-stats h2 {
    color: #2C3E50;
    margin-bottom: 12px;
    font-weight: 500;
}

.game-details article {
    text-align: left;
    /* Left alignment for a cleaner look */
    margin-bottom: 1em;
    /* Consistent spacing */
    line-height: 1.6;
    /* Improved readability */
    color: #4a4a4a;
    /* Slightly softer color */
}

.team-stats {
    background-color: #f9f9f9;
    /* Lighter background for the stats section */
    padding: 15px;
    margin-bottom: 25px;
    border: 1px solid #e0e0e0;
    /* Subtle border */
}

/* Table Styles */
.game-details table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.game-details table,
.game-details th,
.game-details td {
    border: 1px solid #e0e0e0;
    /* Lighter borders for the table */
}

.game-details th,
.game-details td {
    text-align: left;
    padding: 8px;
    font-size: 0.95em;
}

.game-details th {
    background-color: #fafafa;
    /* Light background for header */
    font-weight: 500;
}

.game-details .news-caption {
    font-family: 'Georgia', serif;
    /* Different font for the caption */
    text-align: center;
    /* Center alignment */
    margin: 10px 0 20px;
    /* Spacing around the caption */
    font-style: italic;
    /* Optional: Italicize for emphasis */
    color: #555;
    /* Optional: Slightly different color */
}


/* Enhanced Image Styling */
.game-details img {
    width: 600px;
    height: 400px;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}


footer {
    background-color: #2C3E50;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}
